<div class="row">
<div class="col-xs-12">
<img style="max-height: 300px;" [src]="recipe.imagepath" alt= {{recipe.name}} class="img-reponsive">
</div>
<div class="col-xs-12">
<h1>{{recipe.name}}</h1>
</div>
</div>
<a (click)="onaddtoshoppinglist()" style="cursor: pointer;">to shoping list</a><hr/>
<a style="cursor: pointer;" (click)="oneditrecipe()">Edit recipe data</a><hr/>
<a style="cursor: pointer;">Delete Recipe</a><hr/>
<div class="row">
<div class="col-xs-12">
    {{recipe.description}}
</div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
            {{ingredient.name}} - {{ingredient.amount}}
        </li>
      </ul>
    </div>
</div>